{% extends 'registration_base.html' %}
{% load active %}
{% block title %}Change Password{% endblock %}
{% block content %}
<div class="uk-position-top-right uk-padding-small uk-visible@m">
    <a href="/">Home</a>
</div>
<div class="uk-container-expand h-100">
    <div class="uk-grid-collapse uk-child-width-expand@s h-100" uk-grid>
        <div class="uk-width-1-3@m left-section uk-heading-small uk-padding-large">
            Discover the new world of Notebook.
        </div>
        <div class="uk-width-expand@m">
            <div class="uk-grid-row-medium uk-padding-large">
                <div class="uk-flex-center" uk-grid>
                    <div class="uk-width-1-2@s">
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <div class="uk-alert-danger" uk-alert>
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        <h1 class="uk-text-large uk-margin-medium-top">Change Password</h1>

                        <form method="post" class="form uk-grid-small" action="{% url 'change_password' %}" uk-grid>
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}" />
                            <div class="uk-width-1-1">
                                <label for="id_old_password"><span uk-icon="unlock"></span> {{ form.old_password.label }}</label>
                                {% if form.old_password.errors %}
                                    {{ form.old_password | add_css:"uk-input uk-form-danger uk-margin-small-top" }}
                                    <p class="uk-text-danger uk-text-small uk-margin-remove-top">{{ form.old_password.errors | join:'<br />' }}</p>
                                {% else %}
                                    {{ form.old_password | add_css:"uk-input uk-margin-small-top" }}
                                {% endif %}
                            </div>
                            <div class="uk-width-1-1">
                                <label for="id_new_password1"><span uk-icon="unlock"></span> {{ form.new_password1.label }}</label>
                                {% if form.new_password1.errors %}
                                    {{ form.new_password1 | add_css:"uk-input uk-form-danger uk-margin-small-top" }}
                                    <p class="uk-text-danger uk-text-small uk-margin-remove-top">{{ form.new_password1.errors | join:'<br />' }}</p>
                                {% else %}
                                    {{ form.new_password1 | add_css:"uk-input uk-margin-small-top" }}
                                {% endif %}
                            </div>
                            <div class="uk-width-1-1">
                                <label for="id_new_password2"><span uk-icon="unlock"></span> {{ form.new_password2.label }}</label>
                                {% if form.new_password2.errors %}
                                    {{ form.new_password2 | add_css:"uk-input uk-form-danger uk-margin-small-top" }}
                                    <p class="uk-text-danger uk-text-small uk-margin-remove-top">{{ form.new_password2.errors | join:'<br />' }}</p>
                                {% else %}
                                    {{ form.new_password2 | add_css:"uk-input uk-margin-small-top" }}
                                {% endif %}
                            </div>
                            <div class="uk-width-1-1">
                                <button class="uk-button uk-button-primary uk-margin-small-top" type="submit">Update Password</button>
                            </div>
                            <div class="uk-width-1-1">
                                {{ form.new_password1.help_text }}
                            </div>
                            <div class="uk-width-1-1">
                                <div class="uk-hidden@m">
                                    <a href="/">Home</a>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}