<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Notebook</title>
    <link rel="preconnect" href="https://cdn.jsdelivr.net/">
    <link rel="dns-prefetch" href="https://cdn.jsdelivr.net/">
    <link rel="preconnect" href="https://unpkg.com/">
    <link rel="dns-prefetch" href="https://unpkg.com/">
    <link rel="preconnect" href="https://npmcdn.com/">
    <link rel="dns-prefetch" href="https://npmcdn.com/">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="/static/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/css/uikit.min.css" as="style">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/css/uikit.min.css"/>
</head>
<body>
<div class="uk-container">
    <div class="" uk-grid>
        <div class="uk-width-1-1 uk-margin-top">
            <div uk-grid>
                <div class="uk-width-expand"><h1>Notebook Features</h1></div>
                <div class="uk-width-auto">
                    <a class="uk-link-text uk-button uk-button-default uk-box-shadow-small" href="/accounts/login/">Sign In</a>
                    <a class="uk-button uk-button-danger" href="/accounts/signup/">Sign Up</a>
                </div>
            </div>
        </div>

    </div>
    <hr class="uk-divider-icon">
    <div class="uk-margin-bottom" uk-grid uk-height-match="target: > div > .uk-card">
        <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@m uk-margin-top">
            <div class="uk-card uk-card-default uk-card-body">
                <h4 class="uk-card-title">Save</h4>
                <p>
                    Save notes.. And thats all we want. Keeping it simple, notekeeper has all the tools (only necessary
                    one's 😉) you need at one place
                </p>
            </div>
        </div>
        <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@m uk-margin-top">
            <div class="uk-card uk-card-default uk-card-body">
                <h4 class="uk-card-title">Encrypted</h4>
                <p>
                    We take security very seriously. All your notes are encrypted
                </p>
            </div>
        </div>
        <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@m uk-margin-top">
            <div class="uk-card uk-card-default uk-card-body">
                <h4 class="uk-card-title">Share</h4>
                <p>
                    Hassel-free share your notes with each other without sharing login credentials
                </p>
            </div>
        </div>
        <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@m uk-margin-top">
            <div class="uk-card uk-card-default uk-card-body">
                <h4 class="uk-card-title">Copy</h4>
                <p>
                    Copying text from your notes is very easy. Just select the text and it will be copied to your
                    clipboard
                </p>
            </div>
        </div>
        <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@m uk-margin-top">
            <div class="uk-card uk-card-default uk-card-body">
                <h4 class="uk-card-title">Edit</h4>
                <p>
                    Notekeeper supports markdown. Don't worry if you don't know markdown, we have added a physical
                    toolbar too :)
                </p>
            </div>
        </div>
        <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@m uk-margin-top">
            <div class="uk-card uk-card-default uk-card-body">
                <h4 class="uk-card-title">Search</h4>
                <p>
                    Search notes quickly using your note titles or note tags
                </p>
            </div>
        </div>
        <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@m uk-margin-top">
            <div class="uk-card uk-card-default uk-card-body">
                <h4 class="uk-card-title">Sort</h4>
                <p>
                    Sort Notes based on datetime or note titles (ascending or descending)
                </p>
            </div>
        </div>
        <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@m uk-margin-top">
            <div class="uk-card uk-card-default uk-card-body">
                <h4 class="uk-card-title">Quick Access</h4>
                <p>
                    Faster access to recently modified notes on your sidebar
                </p>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/js/uikit-icons.min.js"></script>
</body>
</html>